<div class="container">
  <div class="col-md-5">
    <img src="http://media.tcc.fl.edu/webcourses/ctll/Developing_Your_Teaching_Philosophy/examples.jpg"/>
  </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt nisl eget odio pharetra sodales. Pellentesque porttitor mollis tortor, nec malesuada erat rhoncus ut. Sed cursus blandit pharetra. Maecenas sit amet consectetur ligula. Duis lacinia volutpat felis eget tincidunt. Pellentesque commodo ligula vel blandit porta. Etiam tortor augue, tempor quis nisi nec, tempus facilisis est. Praesent maximus elementum eros sed blandit. Fusce vulputate, velit eu sollicitudin pharetra, diam lacus condimentum leo, sit amet tincidunt magna felis ut erat. Nullam tincidunt convallis ex at vulputate. Quisque venenatis tristique urna. Nulla ligula neque, sagittis sed lorem ac, hendrerit pharetra tortor. Praesent sit amet libero sit amet metus rhoncus tempor. Duis id lorem et tortor maximus scelerisque.
  </p>

  <hr>
  <label>Email: </label> test@test.test <br>
  <label>Phone: </label> (+21)11111111 <br>
  <label>Headquarter: </label> Singapore <br>
</div>
