.floating-box 
{
    display: inline-block;
    width: auto;
    height: auto;
    /* margin: 14px; */
    border: 3px solid #3C8DBC;  
}

/* .col-md-4
{
    /* background-color: rgb(189, 189, 189);
} */

img
{
    display: inline-block;
    max-width: 210px;
    height: 210px;
    max-height: 210px;
    border: 1px dotted black;
}

.container
{
    position: sticky;
}