.floating-box 
{
    display: inline-block;
    width: auto;
    height: auto;
    /* margin: 14px; */
    border: 3px solid #3C8DBC;  
}

/* .col-md-4
{
    /* background-color: rgb(189, 189, 189);
} */

img
{
    display: inline-block;
    max-width: 210px;
    height: 210px;
    max-height: 210px;
    border: 1px dotted rgb(255, 0, 0);
}

.container
{
    position: sticky;
    height: 490px;
    /* padding-bottom: 10cm; */
}

.ngxPagiantion
{
    padding-top: 490px;
}

.zoomin img 
{
    height: 200px;
    width: 200px;
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;
}

.zoomin img:hover 
{
    width: 350px;
    height: 350px;
  }