<div class="container col-sm-3 zoomin" *ngFor="let List of List | paginate: { itemsPerPage: 4, currentPage: p } ; let i = index">
  <!-- <a href="#List-{{ i }}" class="btn btn-primary" data-toggle="collapse" title="click to view">{{List.prdName}}</a><hr>
  <div id="List-{{ i }}" class="collapse"> -->
    <ul style="list-style: none">
      <li>
        <label>Product Image:</label> <img src="{{List.prdImage}}">
      </li>
      <li>
        {{List.prdName}}
      </li>
      <button class="btn btn-info" (click)="onItemClick(List)" data-toggle="modal" data-target="#detailModal">Show Detail</button>
    </ul>
  <!-- </div> -->
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align:center">{{ListService.selectedProduct.prdName}} Details</h4>
      </div>
      <div class="modal-body">
        <ul style="list-style: none">
          <li><label>Product Name: </label> {{ListService.selectedProduct.prdName}}</li>
          <li><label>Product Category: </label> {{ListService.selectedProduct.prdCategory}}</li>
          <li><label>Product Supplier: </label> {{ListService.selectedProduct.prdSup}}</li>
          <li><label>Product Image: </label> <img src="{{ListService.selectedProduct.prdImage}}"/></li>
          <li><label>Product Description: </label> <p [innerHTML]="ListService.selectedProduct.prdDescription"></p></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div align="center" class="ngxPagiantion">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>