<div class="container col-sm-3" *ngFor="let List of List | paginate: { itemsPerPage: 4, currentPage: p } ; let i = index">
  <!-- <a href="#List-{{ i }}" class="btn btn-primary" data-toggle="collapse" title="click to view">{{List.prdName}}</a><hr>
  <div id="List-{{ i }}" class="collapse"> -->
    <ul style="list-style: none">
      <li>
        <label>Product Name:</label>{{List.prdName}}
      </li>
      <li>
        <label>Product Category:</label>{{List.prdCategory}}
      </li>
      <li>
        <label>Product Supplier:</label>{{List.prdSup}}
      </li>
      <li>
        <label>Product Image:</label><img src="{{List.prdImage}}">
      </li>
      <li>
        <label>Product Description:</label>{{List.prdDescription}}
      </li>
    </ul>
  <!-- </div> -->
</div>

<div align="center" class="ngxPagiantion">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>